
body { 
    margin: 0;
    background-color: #1d1d1d; 
    color: #ffffff;
    font-family: 'Roboto','Montserrat', sans-serif;
}

.container {
    padding: 10px;
    margin: auto;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
}

.item {
    flex: 1 1 100%;
}

    .controls {
        margin-top: 20px;
        display: flex;
    }

        .controls button {
            flex: 1 1 10%;
        }

    .play-list {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
    }

input[type="text"] { font-size: 16px; padding: 7px; width: 85%; }

ul { padding: 0; margin: 0; }

li {
    color: #000000;
    font-size: 14px;
    padding: 10px;
    list-style: none;
    cursor: pointer;
    transition-property: background-color;
    transition: .2s ease;
}

button {
    color: #ffffff;
    background-color: #e91e63;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;    
    transition-property: background-color;
    transition: .2s ease;
}

#btn-mute { background-color: #607d8b; }

button:hover {
    background-color: #c7104d;
}

button:active , button:focus {
    background-color: #8bc34a;
}

li:hover { background-color: #e0e0e0; }

.active {
    color: #f50;
    background-color: #e0e0e0;
}


/**/
.inputfile {
    width: 143px;
    height: 40px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: 0;
    cursor: pointer;
}

.inputfile + label {
    font-size: 16px;    
    color: white;
    background-color: #e91e63;
    display: inline-block;
    padding: 10px 20px;    
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #c7104d;
}


@media screen and (max-width: 378px) {
    .container , .play-list {
        flex-direction: row;
    }

    .controls {
        flex-direction: column;
    }

    .controls button { width: 100%; }
  }